name: Binder
on:
  push:
    branches:
      - main

jobs:
  # push to Dockerhub
  build:
    runs-on: ubuntu-latest
    steps:

    - name: checkout files in repo
      uses: actions/checkout@main

    - name: update jupyter dependencies with repo2docker
      uses: jupyterhub/repo2docker-action@master
      with:
        DOCKER_USERNAME: ltalirz
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}